@media (max-width: 768px) {
  header {
    background-color: #333333;
  }
  .btn-header {
    padding: 1rem 2rem;
    color: #eaeaea;
    background-color: #333333;
    border: #eaeaea solid 1px;
  }
  .btn-header:hover {
    color: #333333;
    background-color: #eaeaea;
    border: #333333 solid 1px;
  }
  .section-right-box {
    width: 35%;
  }
  .section-left-box {
    width: 35%;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    color: #333333;
    width: 70%;
    text-align: center;
    padding: 3.5rem 3rem;
    gap: 2rem;
  }
  .cards {
    background-color: #333333;
    display: flex;
    flex-direction: column;
  }
  .right-double-section {
    background-color: #2690d4;
  }
  span {
    color: #2690d4;
  }
}
