@media (max-width: 1024px) {
  header {
    background-color: brown;
  }
  .btn-header {
    padding: 1rem 2rem;
    color: #eaeaea;
    background-color: brown;
    border: #eaeaea solid 1px;
  }
  .btn-header:hover {
    color: brown;
    background-color: #eaeaea;
    border: brown solid 1px;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    color: #333333;
    width: 20%;
    text-align: center;
    padding: 3.5rem 3rem;
    gap: 2rem;
  }
  .cards {
    background-color: brown;
  }
  .right-double-section {
    background-color: brown;
  }
  span {
    color: brown;
  }
}
