@media (max-width: 376px) {
  header {
    background-color: #333333;
  }
  header h1 {
    font-size: large;
  }
  header p {
    font-size: small;
  }
  .btn-header {
    padding: 0.5rem 1rem;
    font-size: small;
    color: #eaeaea;
    background-color: #333333;
    border: #eaeaea solid 1px;
  }
  .btn-header:hover {
    color: #333333;
    background-color: #eaeaea;
    border: #333333 solid 1px;
  }
  .section-main-box {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    font-size: small;
  }
  .h2-section h2 {
    font-size: medium;
  }
  .section-right-box {
    width: 85%;
  }
  .section-left-box {
    width: 85%;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    color: #333333;
    width: 95%;
    text-align: center;
    padding: 2rem 1rem;
    gap: 2rem;
    font-size: small;
  }
  .cards {
    background-color: #333333;
    display: flex;
    flex-direction: column;
  }
  .right-double-section {
    background-color: #2690d4;
    font-size: small;
  }
  span {
    color: #2690d4;
  }
  .double-section {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
  .double-section h2 {
    font-size: medium;
  }
  .text-section {
    font-size: small;
  }
  .text-section h2 {
    font-size: medium;
  }
  .right-double-section {
    width: 100%;
  }
  .left-double-section {
    width: 100%;
  }
  footer p {
    font-size: smaller;
  }
}
