@media (max-width: 376px) {
    main {
        width: 100vw;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-items: center;
        
      }
      .container {
        box-sizing: border-box;
        display: grid;
        padding: 0px;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 175px;
        grid-template-areas:
          "a c"
          "b c"
          "b d"
          "e g"
          "f g"
          "f h";
      }
      .container > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}
