@media (max-width: 768px) {
  .card {
    width: 14rem;
    height: 20rem;
  }
  .number-card {
    top: -6.5%;
    width: 2.5rem;
    height: 2.5rem;
  }
  h3 {
    font-size: large;
  }
  .blue-circle-top {
    width: 15rem;
    height: 15rem;
    top: -7.5rem;
    right: -7.5rem;
  }
  .blue-circle-bottom {
    bottom: -7.5rem;
    left: -7.5rem;
    width: 15rem;
    height: 15rem;
  }
}
